<!doctype html>
<html lang="" ng-app="meetmeModule">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Meetme</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css styles/main.css -->
  <!--<link rel="stylesheet" href="styles/main.css">-->
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents.min.js -->
  <script src="../bower_components/webcomponentsjs/webcomponents.js"></script>
  <!-- endbuild -->
  <!-- <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script> -->

  <script src="../bower_components/angular/angular.js"></script>
  <!-- will be replaced with elements/elements.vulcanized.html -->
  <link rel="import" href="elements/elements.html">
  
  <script src="../bower_components/ng-polymer-elements/ng-polymer-elements.js" ></script>

  <script src="scripts/app.js"></script>
  <!-- endreplace-->
</head>

<body>

    <paper-drawer-panel ng-controller="globalCtrl">

      <!-- Drawer -->
      <paper-header-panel drawer>
        <input label="latitude" ng-model="latitude"></input>
        <input label="longiture" ng-model="longitude"></input>
        <h1>{{latitude}}</h1>
        <h1>{{longitude}}</h1>
        <!-- <template if="{{user}}" >
            <menu-header></menu-header>

            <template if="{{group}}">
                <paper-button style="width:100%;margin:0;">
                    <core-icon icon="search"></core-icon>
                    {{group.target}}
                </paper-button>
                <template repeat="{{member in group.members}}">
                    <p>{{member.name}}</p>
                </template>
            </template>

        </template>
        <template if ="{{!user}}">
            <simple-login-page></simple-login-page>
        </template> -->


      </paper-header-panel>

      <!-- Main -->
      <div main>
        <google-map ng-latitude="latitude" ng-longitude="longitude"></google-map>

        <!-- <google-map id="map" latitude="37.77493" longitude="-122.416942" fitToMarkers flex>
            <template is="auto-binding" id="pin" repeat="{{marker in markers}}">
                <google-map-marker latitude="{{marker.lat}}" longitude="{{marker.lng}}"
      title="{{marker.name}}" icon="images/marker.png"><div>{{marker.name}}</div></google-map-marker>
            </template>

        </google-map>

        <core-toolbar>
            <core-field flex>
                <core-icon-button icon="menu" core-drawer-toggle></core-icon-button>
                <paper-input-decorator label="{{placeholder}}" flex>
                    <input is="core-input">
                </paper-input-decorator>
                <core-icon-button icon="send" on-click="{{openOverlay}}" ></core-icon-button>
            </core-field>
        </core-toolbar> -->

      </div>

    </paper-drawer-panel>


  <!-- build:js scripts/app.js -->

  <!-- endbuild-->
</body>

</html>
